{%extends 'base.html' %}


  {% block title %}
  Change Password
  {% endblock %}


{% block content%}


<br>
 <div class="container  my-5 py-5 z-depth-1">
  <h3 class="text-center"> Change Password</h3>
<form class="login" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="text-center">
  <button type="submit" class="btn btn-success">Update</button>
  </div>
</form>
<br>
<ul>
	<li>Your password can’t be too similar to your other personal information.</li> 
	<li>Your password must contain at least 8 characters.</li>
	<li>Your password can’t be a commonly used password.</li>
	<li>Your password can’t be entirely numeric.</li>
	
</ul>
</div>

{% endblock %}