{%extends 'base.html' %}
{% load static %}
{% block css %} 
<style type="text/css">
  

.h6, h6 {
    font-size: .75rem !important;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    text-transform: uppercase;
}

.name h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}


a .material-icons {
    vertical-align: middle;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    left: 0;
    right: 0;
}

.profile-page .page-header {
    height: 300px;
    background-position:center;
}

.page-header {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 70%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background-image:url('{{ user_pf.get_cover_pic.url }}');}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;

}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
    font-family:'Teko', sans-serif;
}

.nav-pills, .nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav .nav-item {
    position: relative;
    margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
    border-radius: 6px;
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.nav-pills .nav-item .nav-link {
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    color: #555;
    transition: all .3s;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    margin:3px;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
    background-color: rgba(200,200,200,.2);
}


.nav-pills .nav-item i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

.tab-space {
    padding: 20px 0 50px;
}

.profile-page .gallery {
    margin-top: 3.213rem;
    padding-bottom: 50px;
}

.profile-page .gallery img {
    width: 100%;
    margin-bottom: 2.142rem;
}

.profile-page .profile .name{
    margin-top: -80px;
}

img.rounded {
    border-radius: 6px!important;
}

.tab-content>.active {
    display: block;
}

/*buttons*/
.btn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    border-radius: .2rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btn.btn-just-icon {
    font-size: 20px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
}

.btn.btn-just-icon fi{
    margin-top: 0;
    position: absolute;
    width: 100%;
    transform: none;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 41px;
    font-size: 20px;
}
.btn.btn-link{
    background-color: transparent;

    color: #999;
}

.modal-backdrop{

  z-index: 0;
}


</style>

{% endblock %}

  {% block title %}
  {{user_pf}}
  {% endblock %}
{% load imagekit %}
{% load blog_extra %}

{% block content%}
<br>
<br>


<div class="profile-page"> 
    <div class="page-header header-filter" data-parallax="true" ></div>
    <div class="main main-raised">
      <div class="profile-content">
          <div class="container">

              <div class="row"><!--row-->
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="profile"> <!--profile-->
                    <div class="avatar">
                      {%  thumbnail '250x250' user_pf.get_disp_pic -- class="img-raised rounded-circle img-fluid"  %}
                    </div>
                    <div class="name">
                      <h3 class="title">{{user_pf.user.first_name}} {{user_pf.user.last_name}}</h3>
                      <h6>{{ user_pf.profession }}</h6>
                      {% if user_pf.fb %}
                      <a href="{{ user_pf.fb }}" class="btn btn-just-icon btn-link "><i class="fi fi-facebook"></i></a>
                      {% endif %}
                      {% if user_pf.twitter %}
                      <a href="{{ user_pf.twitter }}" class="btn btn-just-icon btn-link "><i class="fi fi-twitter"></i></a>
                      {% endif %}
                      {% if user_pf.insta %}
                      <a href="{{ user_pf.insta }}" class="btn btn-just-icon btn-link "><i class="fi fi-instagram"></i></a>
                      {% endif %}
                      {% if user_pf.pinterest %}
                      <a href="{{ user_pf.pinterest }}" class="btn btn-just-icon btn-link "><i class="fi fi-pinterest"></i></a>
                      {% endif %}
                      {% if user_pf.git_hub %}
                      <a href="{{ user_pf.git_hub }}" class="btn btn-just-icon btn-link "><i class="fi fi-github"></i></a>
                      {% endif %}
                      {% if user_pf.linked_in %}
                      <a href="{{ user_pf.linked_in }}" class="btn btn-just-icon btn-link "><i class="fi fi-linkedin"></i></i></a>
                      {% endif %}
                      {% if user_pf.ex_link %}
                      <a href="{{ user_pf.ex_link }}" class="btn btn-just-icon btn-link "><i class="fi fi-world-o"></i></a>
                      {% endif %}
                    </div>
                  </div> <!--profile-->
                </div> <!--col-md-6 ml-auto mr-auto-->
              </div><!--row-->

              <!-- BIO -->
              <div class="description text-center">
                <p>{{ user_pf.bio }} </p>
                <br>
              </div>

              <!-- Status -->
              <div class="description text-center">
                <p><i class="fas fa-circle" style="color: lime;"></i>  {{ user_pf.get_status }}  </p> 
              {% if user.is_authenticated %}
                {% if user.id == user_pf.user.id %}
                <br>
                  <a href="" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalStatusForm"> Change Status</a>    
                <br>
                <br>
              </div>

              <!-- status Modal -->

              <div class="modal fade" id="modalStatusForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" style="margin: 10rem auto;">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body mx-3">
                      <div class="md-form mb-5">
                        <form action="{% url 'users:status-update' user.profile.id %}" method="POST">
                          {% csrf_token %}
                         <input type="text" name="status" class="form-control" maxlength="500" id="id_status" placeholder="Status">
                         <div class="text-center"><button class="btn btn-default ">Update</button></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                      {% endif %}
                {% endif %}

              <!-- POST MAKING BLOCK -->
              <div class="text-center">
                {% if user.is_authenticated %}
                  {% if user.id == user_pf.user.id %}
                    <form action = "{% url 'users:make-post' user.id %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <textarea cols="40" name="post" rows="10" class="form-control" placeholder="what&#x27;s you been upto" id="id_post"></textarea>
                      <br>
                      <div class="input-group col-lg-12 mb-4">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input"  name="pic_1" accept="image/*" id="id_pic_1">
                          <label class="custom-file-label" ><i class="fa fa-image"></i></label>
                        </div> 
                      </div>

                      <script type="application/javascript">
                        $('input[type="file"]').change(function(e){
                            var fileName = e.target.files[0].name;
                            $('.custom-file-label').html(fileName);
                        });
                      </script>
                      <br>
                      <button type="submit" class="btn btn-success">Post</button>
                    </form>
                  {% endif %}
                {% endif %}
                </div>
                <!-- buttons -->
                <br>
              {% if user.is_authenticated %}
                  {% if user.id == user_pf.user.id %}
                    <div class="text-center">
                      <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                          <button class="btn  blue-gradient btn-sm"><a href="{% url 'blog:article-create' %}" style="color: white;">
                            Create A New Article </a>
                          </button>
                          <button class="btn  blue-gradient btn-sm"><a href="#" style="color: white;">
                            Update An Article</a>
                          </button>
                          <button class="btn  blue-gradient btn-sm"><a href="#" style="color: white;">
                            Delete An Article</a>
                          </button>

                          <a href="" class="btn blue-gradient btn-sm" data-toggle="modal" data-target="#modalPhotoForm">Upload Pictures</a>    
                            <br>
                            <br>
                          
                          <!-- status Modal -->

                          <div class="modal fade" id="modalPhotoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="margin: 10rem auto;">
                              <div class="modal-content">
                                <div class="modal-header text-center">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body mx-3">
                                  <div class="md-form mb-5">
                                    <form action="{% url 'users:pic-upload' user.profile.id %}" method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                     <!-- <input type="text" name="status" class="form-control" maxlength="500" id="id_status" placeholder="Status"> -->
                                      <div class="input-group col-lg-12 mb-4">
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input"  name="pic" id="id_pic" accept="image/*" required>
                                          <label class="custom-file-label" >Choose Pic</label>
                                        </div>
                                      </div>
                                      <br>
                                        <script type="application/javascript">
                                            $('input[type="file"]').change(function(e){
                                                var fileName = e.target.files[0].name;
                                                $('.custom-file-label').html(fileName);
                                            });
                                        </script>
                                       {{ photo_op.caption }}
                                     <div class="text-center"><button class="btn btn-default ">Upload</button></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
             {% endif %}

            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                  <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">assignment</i>
                          Posts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">create</i>
                          Articles
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i>
                          Photos
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

        <!-- POSTS -->
          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" id="studio">
          <div class="row">
          {% for item in updates %}
           
              {% if item.pic_1 %}

                <div class="col-md-3 ml-auto">
                                <!-- Card -->
                      <div class="card">

                      <!-- Card image -->
                      <div class="view overlay">
                          {% thumbnail '200x200' item.pic_1 -- class="card-img-top" %}
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">
                          <!-- Text -->
                          <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date_time }}</small></p>
                        <p class="card-text"  style="font-family: 'Oxanium', cursive;" >{{ item.post }}</p>

                      </div>

                      </div>
                </div>

              {% else %}

                <div class="col-md-3 mr-auto">
                      <div class="card">

                      <!-- Card image -->
                      <div class="view overlay">
                          
                        <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>

                      <!-- Card content -->
                      <div class="card-body">
                          <!-- Text -->
                          <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date_time }}</small></p>
                        <p class="card-text"  style="font-family: 'Oxanium', cursive;" >{{ item.post }}</p>

                      </div>

                      </div>

                </div>

              {% endif %}

          {% endfor %}

          </div>
        </div>


         <div class="tab-pane text-center gallery" id="works">

            <div class="row">

           {% for item in articles %}

                {% if count == 1 %}

            <div class="col-md-3 ml-auto">
              <br>

                                              <!-- Card -->
                  <div class="card">

                  <!-- Card image -->
                  <div class="view overlay">
                      {% thumbnail '200x200' item.get_image -- class="card-img-top" %}
                    <a href="{% url 'blog:article-detail' item.post_no %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body">
                      <!-- Text -->
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date }}</small></p>
                    <p class="card-text"  style="font-family: 'Oxanium', cursive;" >{{ item.title }}</p>

                  </div>

                  </div>

            </div>
            <br>

              {% else %}        

            <div class="col-md-3 mr-auto">
              <br>

                            <!-- Card -->
                  <div class="card">

                  <!-- Card image -->
                  <div class="view overlay">
                      {% thumbnail '200x200' item.get_image -- class="card-img-top" %}
                    <a href="{% url 'blog:article-detail' item.post_no %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body">
                      <!-- Text -->
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date }}</small></p>
                    <p class="card-text"  style="font-family: 'Oxanium', cursive;" >{{ item.title }}</p>

                  </div>

                  </div>

               </div>
               <br>

                {% endif %}

            {% change_state count as count %}

          {% endfor %}
            </div>
          </div>

<!-- photos -->
            <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">

              {% for item in photos %}

                  {% if count == 1 %}
              <div class="col-md-3 ml-auto">

                <div class="card">

                  <!-- Card image -->
                  <div class="view overlay">
                      <img src="{{ item.pic.url }}" class="card-img-top">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body">
                      <!-- Text -->
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.caption }}</small></p>
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date_time }}</small></p>

                  </div>

                  </div>
              </div>

                  {% else %}
              <div class="col-md-3 mr-auto">

                <div class="card">

                  <!-- Card image -->
                  <div class="view overlay">
                      <img src="{{ item.pic.url }}" class="card-img-top">
                    <a href="#">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body">
                      <!-- Text -->
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.caption }}</small></p>
                      <p><small style="font-family: 'Cutive Mono', monospace;">{{ item.date_time }}</small></p>

                  </div>

                  </div>

                </div>
                {% endif %}

                {%  change_state count as count %}
              {% endfor %}
            </div>
          </div>
          </div>

        </div>
  </div>
</div>
    







 {% endblock %}